$mid-blue: #FFF1;
$dark-blue: #0007;
$dark: rgb(16, 17, 22);

$light-green: rgb(110, 217, 173);
$mid-green: rgb(82, 162, 97);

$mid-red: rgb(208, 94, 89);

$light-grey: rgb(170, 172, 179);
$mid-grey: rgb(97, 99, 110);
