<div class="content">
  <div class="watchlist-item">
    <div>
      <p>{{ stock?.tag }}</p>
      <small>{{ stock?.enterpriseName }}</small>
    </div>

    <div>
      <small>Price</small>
      <p>$ {{ stock?.price }}</p>
    </div>

    <div>
      <small>Change</small>
      <p *ngIf="stock!.change >= 0" style="color: rgb(82, 162, 97)">
        {{ stock?.change }}
      </p>
      <p *ngIf="stock!.change < 0" style="color: rgb(208, 94, 89)">
        {{ stock?.change }}
      </p>
    </div>
  </div>

  <hr />
</div>
