/* You can add global styles to this file, and also import other style files */

@import "./app/common/colors.scss";

html {
}

body {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: "Poppins";
  color: #fff;
  font-weight: 300;
  padding: 0 2dvw;

  min-height: 100dvh;
  background-color: #26004d;
  background-image: radial-gradient(
      at 54% 67%,
      hsla(6, 87%, 70%, 1) 0,
      hsla(6, 87%, 70%, 0) 50%
    ),
    radial-gradient(
      at 25% 95%,
      hsla(256, 88%, 65%, 1) 0,
      hsla(256, 88%, 65%, 0) 50%
    ),
    radial-gradient(
      at 84% 58%,
      hsla(254, 86%, 65%, 1) 0,
      hsla(254, 86%, 65%, 0) 50%
    ),
    radial-gradient(
      at 8% 60%,
      hsla(291, 88%, 69%, 1) 0,
      hsla(291, 88%, 69%, 0) 50%
    );
}

input {
  background: $mid-blue;
  border: none;
  padding: 16px 32px;
  border-radius: 15px;
  width: 100%;
  color: #fff;
}

input:focus {
  border: none;
  outline: none;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;

  p {
    font-weight: 400;
    font-size: 1.4rem;
  }
}
